discord.py==0.16.12
from discord.ext import commands.py
from discord.ext.commands import Bot.py
from discord.utils import get.py
import youtube_dl.py
from discord.ext import commands.py
from discord.utils import get.py
from discord import FFmpegPCMAudio.py
from youtube_dl import YoutubeDL.py
import asyncio.py
import time as t.py
import random as r.py
import urllib.request.py
import re.py
import json.py
